nilearn>=0.3.0
alabaster==0.7.9
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
collections-extended==0.8.2
colorama==0.3.7
coverage==4.2
cycler==0.10.0
dask==0.11.1
decorator==4.0.10
docutils==0.12
entrypoints==0.2.2
fancycompleter==0.5
flake8==3.0.4
flake8-polyfill==1.0.1
ghp-import==0.4.1
imagesize==0.7.1
ipykernel==4.3.1
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==5.1.5
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==4.1.1
jupyter-core==4.1.0
jupyterlab==0.18.1
latexcodec==1.0.4
Mako==1.0.4
mando==0.3.3
MarkupSafe==0.23
matplotlib==1.5.3
mccabe==0.5.2
mistune==0.7.2
mpmath==0.19
nb2plots==0.3
nbconvert==4.2.0
nbformat==4.0.1
networkx==1.11
nibabel==2.1.0
notebook==4.2.1
numpy==1.11.2
ordereddict==1.1
oset==0.1.3
pandas==0.18.1
pdbpp==0.8.3
pexpect==4.1.0
pickleshare==0.7.2
Pillow==3.4.1
ptyprocess==0.5.1
py==1.4.31
pybtex==0.20.1
pybtex-docutils==0.2.1
pycodestyle==2.0.0
pyflakes==1.2.3
Pygments==2.1.3
pyparsing==2.1.10
pytest==3.0.3
pytest-cov==2.4.0
python-dateutil==2.5.3
python-magic==0.4.12
pytz==2016.7
PyYAML==3.12
pyzmq==15.2.0
qtconsole==4.2.1
radon==1.4.2
requests==2.11.1
#s3cmd==1.6.1
scikit-image==0.12.3
scikit-learn==0.18
scipy==0.17.1
seaborn==0.7.1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.4.8
sphinxcontrib-bibtex==0.3.4
sympy==1.0
terminado==0.6
texext==0.3.2
toolz==0.8.0
tornado==4.3
traitlets==4.2.1
widgetsnbextension==1.2.3
wmctrl==0.3
xlrd==1.0.0
xlwt==1.2.0
